
/*estilo geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", serif;  

    /* rolagem de ancora suave */
    scroll-behavior: smooth;
}

.hidden {
    opacity: 0;
    filter: blur(20px);
    transition: all 1.6s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0px);
    transition: all 1.8s;
    transform: translateX(0);
}


body {
    background-color: #000;
    height: 100vh;
    margin-top: 100px; /* Ajuste para corresponder à altura total do header */
}

.interface {
    max-width: 1280px;
    margin: 0 auto; /* Para centralizar */
    padding: 0 60px; /* Adiciona um padding de 20px nas laterais */
}

.flex {
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color:rgb(62, 104, 243);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

h2.titulo {
    color: #fff;
    font-size: 35px;
    text-align: center;
}

h2.titulo span{
    color: rgb(73, 112, 241);
    position: relative;
}

@keyframes digitando{
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width:calc(100% + 10px);
    } 
}

@keyframes cursor{
    0%{
        border-left: 2px solid #000;
    }
}


/* estilo do cabeçalho */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.89); /* Mesma cor de fundo */
    z-index: 1000; /* Para ficar acima de outros elementos */
    padding: 0 4%; /* Reduza o padding para ajustar melhor */
    box-shadow: 0 0 40px rgb(0, 0, 0); /* Adiciona uma sombra */
}

header > .interface{
    display: flex;
    align-items: center;  /* Corrigido */
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration:none;
    font-size: 20px;
    display: inline-block;
    transition: .2s;
}
header nav.menu-desktop a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}
header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 12px rgb(73, 112, 241);
    color: rgb(0, 25, 107) ;
    transition: .2s;
}

/* ESTILO MOBILE */
.btn-abrir-menu i {
    color: rgb(73, 112, 241);
    font-size: 40px;
    display: none;
    

}
.btn-abrir-menu i:hover {
    color: rgb(4, 0, 255);
    
}

.menu-mobile {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 70%;
    background-color: #000;
    width: 0%;
    overflow: hidden;
    transition: .2s;
}

.menu-mobile.abrir-menu{
    width: 70%;

}
.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;

}

.menu-mobile nav ul {
    text-align: right;

}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.overlay-menu {
    background-color: rgba(0, 0, 0, 0.82);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.menu-mobile nav ul li a:hover {
    background-color: rgb(73, 112, 241);
    color: #000;

}
.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color: rgb(73, 112, 241);
    font-size: 30px;
    transition: .2s;
}

.menu-mobile .btn-fechar i:hover {
    color: rgb(241, 73, 73);

}

/* Diminuir o tamanho da logo */
.logo img {
    max-width: 240px;  /* Ajuste o valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 100px;
}

/* estilo do topo do site */

section.topo-do-site {
    padding: 100px 4%;
}

section.topo-do-site .flex {
    align-items: center ;
    justify-content: center ;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;

}

.topo-do-site .txt-topo-site h1 span {
    color:rgb(62, 104, 243);
    font-size: 60px;

}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    border-radius: 25px;
    box-shadow: 0px 0px 50px rgba(96, 150, 252, 0.41);
}

@keyframes flutuar{
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}

.notification-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: right;
    width: 100%;
    background-color: rgb(62, 104, 243); /* Cor de fundo da faixa */
    color: #fff;
    bottom: -16.5%; /* ajuste conforme a altura da barra de notificação */
    padding: 10px;
    font-size: 18px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    /* ocultar a barra de rolagem horizontal */
    overflow: hidden; /* Oculta a barra de rolagem horizontal */
}

.notification-bar .tech-icons i {
    font-size: 27px; /* Ajusta o tamanho dos ícones */
    margin: 0 30px; /* Adiciona espaçamento entre os ícones */
    color:  rgb(31, 56, 138); /* Cor padrão */
}

.tech-icons p {
    font-size: 10px;
    text-align: center; /* Centraliza o texto */ 
    color:  rgb(31, 56, 138); /* Cor padrão */
    font-weight: bold;
}
   


.tech-icons {
    display: flex; /* Alinha os ícones na horizontal */
    justify-content: flex-end; /* Move os ícones para a direita */
    transition: transform 0.5s linear; /* Transição suave para o movimento */
    width: 150%; /* Garante que a barra ocupe toda a largura */
}

main .btn-contato button:hover{
    box-shadow: 0px 0px 12px rgb(73, 112, 241);
    color: rgb(0, 25, 107) ;
    transition: .2s;
    transform: scale(1.05);
}

/* ESTILO DAS ESPECIALIDADES */

section.especialidades {
    padding: 238px 4%;
}

section.especialidades .flex {
    gap: 50px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 20px;
    border-radius: 25px;
    margin-top: 65px;
    transition: 2s;
    text-align: center;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px rgba(96, 150, 252, 0.41);
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: rgb(62, 104, 243);
}
.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

.especialidades h2.titulo span::before {
    content: "";
    color: rgb(73, 112, 241);
    animation: skillpalavras 20s infinite;
}

.especialidades h2.titulo span::after {
    content: "";
    position: absolute;
    height: 125%;
    border-left: 2px solid rgb(73, 112, 241);
    right: -5px;
    animation: cursor .8s infinite, digitando 20s steps(10) infinite;
    top: -5.8px;
    width:calc(100% + 10px);
    background-color: #000;
}

@keyframes skillpalavras{
    0%, 20%{
        content: "SKILLS";
    }
    21%, 40%{
        content: "HABILIDADES";
    }
    41%, 60%{
        content: "COMPETÊNCIAS";
    }
    61%, 80%{
        content: "QUALIFICAÇÕES";
    }
    81%, 100%{
        content: "ESPECIALIDADES";
    }
}


/* ESTILO SOBRE MIM */

section.sobre {
    padding: 70px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: rgb(62, 104, 243);
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.sobre .img-sobre img {
    max-width: 400px;  /* Ajuste o valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 30px;
    transition: .2s;
}
.sobre .img-sobre img:hover {
   box-shadow: 0 0 20px rgba(96, 150, 252, 0.41);
   transform: scale(1.05);
}

.sobre .txt-sobre .btn-social button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-color:  rgb(62, 104, 243);
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

.sobre .txt-sobre .btn-social button:hover {
    box-shadow: 0 0 8px rgb(109, 158, 248);
    transform: scale(1.05);
    
}

/* ESTILO DO PORTFÓLIO */

section.portfolio { 
    padding: 100px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.05);
}

section.portfolio .flex{
    margin-top: 60px;
    justify-content: space-around;
    gap: 40px;
}

.button-esquerda, .button-direita {
    color: rgb(62, 104, 243);
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 45px;
    cursor: pointer;
    transition: 1s;
}

.button-esquerda:hover i {
    color: rgb(0, 56, 238);
    transform: scale(1.10);
}

.button-direita:hover i {
    color: rgb(0, 56, 238);
    transform: scale(1.10);
}


/* Animação de slide */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%); /* Ou -100% para vir de esquerda */
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.project-visible {
    animation: slideIn 0.5s ease-in-out;
}


.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0;
    transition: 8s;
    border-radius: 40px;
    position: relative;
}
.img-port:hover {
    background-position: 100% 100%;
    cursor: pointer;
    transform: scale(1.01);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.82);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}
.overlay:hover {
    box-shadow: 0 0 20px rgb(109, 158, 248);
    opacity: 1;
    transform: scale(1.05);
}

/* ESTILO DO FORMULARIO DE CONTATO */

section.contato { 
    padding: 100px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea {
    width: 100%;
    background-color:  rgb(36, 36, 36);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;

}
form .btn-enviar input[type=submit] {
    width:120px;
    background-color: rgb(62, 104, 243);
    color: #000;
    font-weight: 700;
    cursor: pointer;
}
form .btn-enviar input[type=submit]:hover {
    box-shadow: 0px 0px 12px rgb(73, 112, 241);
    color: rgb(0, 25, 107) ;
    transition: .2s;
    transform: scale(1.05);
 }
/* Mensagem de erro */
#error-message {
    display: none;
    color: rgb(255, 255, 255); /* Cor do texto */
    background-color: rgb(248, 0, 0); /* Cor de fundo */
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    z-index: 2;
    text-align: center;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%); /* Para centralizar horizontalmente */
    width: 50%;
}

/* Botão de fechar */
#error-message button {
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 35px;
    cursor: pointer;
    transition: 0.5s;
}

#error-message button:hover {
    color: rgb(248, 141, 147);
    transform: scale(1.20);
}

/* Overlay */
#overlay-error {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.57); /* Cor semitransparente */
    backdrop-filter: blur(45px); /* Efeito de desfoque */
    z-index: 1; /* Para garantir que o overlay fique abaixo da mensagem de erro */
}



 /* ESTILO DO RODAPÉ */

footer {
    padding: 30px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.05);

 }

 footer .flex {
    justify-content: space-between;
    
 }
 footer .btn-social button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color:  rgb(62, 104, 243);
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

footer .btn-social button:hover {
    box-shadow: 0 0 8px rgb(109, 158, 248);
    transform: scale(1.05);
    
}


footer .logo-footer img {
    max-width: 140px;  /* Ajuste o valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

footer .line-footer {
    padding: 20px 0;
    
    
}

.borda {
    border-top: 2px solid rgb(62, 104, 243);
}

footer .line-footer p i{
    color: rgb(62, 104, 243);
    font-size: 22px;

}
footer .line-footer p a {
    color: #fff;
    cursor: pointer;
    text-decoration: none; /* Remove o sublinhado */

}

footer .line-footer h1 {
    font-size: 11px;
    color: #fff;
}

footer .line-footer h1 span{
    color: rgb(73, 112, 241);
}


@media screen and (max-width: 980px){
    /* Classes gerais */
    .flex { 
        flex-direction: column;
    }
    
   

    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }

    .topo-do-site h1{
        text-align: center;
    }
    

    .topo-do-site p {
        text-align: center;
    }

    .sobre .txt-sobre p {
        text-align: center;
    }

    /* CABEÇALHO */
    .menu-desktop, .btn-contato {
        display: none;
    }

    header {
        padding: 20px 0%;
        position: absolute;
    }

    .logo img {
        max-width: 180px;  /* Ajuste o valor conforme necessário */
        height: auto; /* Mantém a proporção da imagem */
        
    }

    .btn-abrir-menu i {
        display: block;
        
    }
    

    /* TOPO DO SITE */
    section.topo-do-site {
        padding: 20px 8%;
    }

    section.topo-do-site .flex {
        gap: 60px;
    }

    .notification-bar{
        display: none;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;  
    }

    .topo-do-site h1 {
        font-size: 30px;
        line-height: 34px;
    }

    /* ESTILO DAS ESPECIALIDADES */

    section.especialidades {
        padding: 40px 4%;
    }

    section.especialidades .flex {
        gap: 60px;
    }

    /*ESTILO DE SOBRE MIM */
    section.sobre {
        padding: 60px 8%;
    }
    
    section.sobre .flex{
        align-items: center;
        gap: 60px;
    }

    .sobre .flex {
        flex-direction: column-reverse;
    }

    .sobre .img-sobre img {
        width: 100%; 
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    /* .sobre .txt-sobre p {
        text-align: center;
    } */

    .sobre .btn-social {
        text-align: center;
    }

    /* PORTFOLIO */
    section.portfolio {
        padding: 170px 8%;
    }

    section.portfolio .flex {
        margin-top: 100px;
        gap: 60px;
        align-items: center;
    }

    .button-esquerda {
        display: none;
        
    }

    .button-direita {
        transform: rotate(90deg); /* Gira o ícone em 90 graus */
    }



    /* ESTILO DO FORMULARIO DE CONTATO */

    section.contato { 
        padding: 50px 8%;
    }

    /* RODAPÉ */

    footer.flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }
    footer .line-footer h1 {
        margin-top: 5px;
    }

}

@media screen and (max-width: 500px){
    /* ESTILO CABEÇALHO */

    .logo img {
        margin-right: 20px;
    }

    /* ESTILO DAS ESPECIALIDADES */

    section.especialidades {
        padding: 30px 2%;
    }

    .especialidades .especialidades-box i{
        font-size: 55px;
        display: flex; /* Define como flex container */
        align-items: center; /* Centraliza verticalmente */
        justify-content: center; /* Centraliza horizontalmente */
    }
    .especialidades .especialidades-box h3{
        text-align: center;
    }

    .especialidades .especialidades-box p{
        text-align: center;
    }


    /* PORTFOLIO */

    section.portfolio .flex {
        gap: 50px;
        
    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    .button-direita , .button-esquerda {
        display: none;
    }
}