# Node.js
node_modules/

# Arquivos de log
*.log
npm-debug.log*

# Arquivos de configuração de ambiente
.env

# Sistema de pacotes de gerenciamento
package-lock.json
yarn.lock

# Diretórios do editor de código
.vscode/
.idea/

# Outras configurações de IDEs e editores
.DS_Store
Thumbs.db
